.projectsListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.projectLink {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  padding: 4px 0;
}

.projectLink:hover {
  text-decoration: underline;
  color: #fff;
}


